h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  @include screen-992 {
    font-size: 36px;
  }
  @include screen-768 {
    font-size: 32px;
  }
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  @include screen-992 {
    font-size: 28px;
  }
  @include screen-768 {
    font-size: 24px;
  }
}
h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  @include screen-992 {
    font-size: 24px;
  }
  @include screen-768 {
    font-size: 20px;
  }
}
h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  @include screen-992 {
    font-size: 20px;
  }
  @include screen-768 {
    font-size: 18px;
  }
}
h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  @include screen-992 {
    font-size: 18px;
  }
  @include screen-768 {
    font-size: 16px;
  }
}
h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  @include screen-992 {
    font-size: 16px;
  }

  @include screen-768 {
    font-size: 14px;
  }
}

p {
  font-size: 16px;
  line-height: 170%;
  font-weight: 400;
  @include screen-992 {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
